
.chromatic .sheet.live
{
	.page
	{
		background: white !important;
		border: 1px black solid;
	}


	.staff-line
	{
		stroke: gainsboro;
	}

	.measure-separator
	{
		fill: darkblue;
	}

	.additional-line
	{
		fill: chocolate;
	}

	.brace, .vertical-line
	{
		fill: whitesmoke;
	}

	.note-stem
	{
		fill: #66a;

		&.bald
		{
			stroke: red;
			stroke-width: 0.1px;
		}
	}

	.notetail
	{
		fill: #c0d0e0;
	}

	.staves-connection
	{
		fill: dodgerblue;
		stroke: dodgerblue;
		stroke-width: .6px;
	}

	.clef
	{
		fill: magenta;
	}

	.notehead
	{
		fill: deepskyblue;
	}

	.attached .notehead
	{
		fill: steelblue;
	}

	.rest
	{
		fill: lightblue;
	}

	.number
	{
		fill: lightslategray;
	}

	.time-sig, .time-sig.number
	{
		fill: seagreen;
	}

	.tempo-notehead
	{
		fill: lightgreen;
	}

	.dot
	{
		fill: orange;
	}

	.alter
	{
		fill: darkgreen;
	}

	.octave
	{
		fill: violet;
	}

	.octave.line
	{
		stroke: violet;
	}

	.slur
	{
		fill: pink;
		stroke: pink;
	}

	.expressive, .arpeggio, .tr, .tr-wave, .attached, .sustain
	{
		fill: wheat;
	}

	.notice
	{
		stroke: red;
		stroke-width: 1;
	}

	.mark
	{
		visibility: visible;
	}

	.measure .text
	{
		fill: #cce;
	}

	.page-tokens .text
	{
		fill: #eee;
	}

	.row > rect.mark
	{
		fill: #ffff0008;
		stroke: #ff0a;
		stroke-width: 0.3;
	}

	.staff
	{
		circle.mark
		{
			r: 1;
			fill: #4086;
		}

		line.mark
		{
			stroke: black;
			stroke-width: 0.1;
			stroke-dasharray: 0.5, 0.5;
		}

		rect.mark.head
		{
			fill: #0002;
		}
	}

	.measure > .mark
	{
		text
		{
			font-size: 2px;
			fill: #0046;
			text-anchor: start;
		}
	}
}
