
.chromatic
{
	.sheet.live
	{
		.page
		{
			background: white !important;
			border: 1px black solid;
		}
	
		.mark
		{
			visibility: visible;
			opacity: 1;
		}
	}


	&[data-chromatic='symbols'] .sheet.live
	{
		.staff-line
		{
			stroke: gainsboro;
		}
	
		.measure-separator
		{
			fill: darkblue;
		}
	
		.additional-line
		{
			fill: chocolate;
		}
	
		.brace, .vertical-line
		{
			fill: whitesmoke;
		}
	
		.note-stem
		{
			fill: #66a;
	
			&.bald, &.suspended
			{
				stroke: red;
				stroke-width: 0.1px;
			}
		}
	
		.notetail
		{
			fill: #c0d0e0;
		}
	
		.staves-connection
		{
			fill: dodgerblue;
			stroke: dodgerblue;
			stroke-width: .6px;
		}
	
		.clef
		{
			fill: magenta;
		}
	
		.notehead
		{
			fill: deepskyblue;
		}
	
		.attached .notehead
		{
			fill: steelblue;
		}
	
		.rest
		{
			fill: lightblue;
		}
	
		.number
		{
			fill: lightslategray;
		}
	
		.time-sig, .time-sig.number
		{
			fill: seagreen;
		}

		.number.alternative
		{
			fill: orchid;
		}
	
		.tempo-notehead
		{
			fill: lightgreen;
		}
	
		.dot
		{
			fill: orange;
		}

		.dot.volta
		{
			fill: darkblue;
		}
	
		.alter
		{
			fill: darkgreen;
		}
	
		.attached .alter
		{
			fill: lightgreen;
		}
	
		.octave
		{
			fill: violet;
		}
	
		.octave.line
		{
			stroke: violet;
		}
	
		.slur
		{
			fill: pink;
			stroke: pink;
		}
	
		.expressive, .arpeggio, .tr, .tr-wave, .attached, .sustain
		{
			fill: wheat;
		}

		.wedge
		{
			stroke: wheat;
		}

		.chord-text, .text.chord-text
		{
			fill: LightSkyBlue !important;
		}

		.repeat-sign
		{
			fill: LightPink;
		}
	
		.notice
		{
			stroke: red;
			stroke-width: 1;
	
			&.alter
			{
				stroke-width: 60;
			}
		}
	
		.mark
		{
			.system > rect
			{
				fill: #ffff0008;
				stroke: #ff0a;
				stroke-width: 0.3;
			}
		
			.staff
			{
				circle
				{
					r: 1;
					fill: #4086;
				}
	
				line
				{
					stroke: black;
					stroke-width: 0.1;
					stroke-dasharray: 0.5, 0.5;
				}
		
				rect.head
				{
					fill: #0002;
				}
			}
	
			.measure
			{
				text
				{
					fill: #0046;
				}
			}
		}
	
		.measure .text
		{
			fill: #cce;
		}
	
		.page-tokens .text
		{
			fill: #eee;
		}
	}


	&[data-chromatic='pitch'] .sheet.live
	{
		.page
		{
			use
			{
				fill: #0003;

				&.slur
				{
					stroke: transparent;
				}
			}
		}

		.mark
		{
			.pitch-context
			{
				.base-line
				{
					stroke-width: 0.1px;
					stroke: black;
				}

				.pitch
				{
					text
					{
						fill: #000c;
						font-size: 1px;
						pointer-events: none;
						font-weight: bold;
					}

					&:hover
					{
						text
						{
							fill: #000;
							transform: scale(1.6);
						}
					}

					.bg
					{
						x: 0;
						y: -1px;
						width: 1.6px;
						height: 1px;
						fill: #fff2;
					}

					&.sharp
					{
						.bg
						{
							fill: orange;
						}
					}

					&.flat
					{
						.bg
						{
							fill: #aaf;
						}
					}
				}
			}
		}
	}


	&[data-chromatic='track'] .sheet.live
	{
		.page
		{
			use
			{
				fill: #000a;

				&.slur
				{
					stroke: 000a;
				}
			}
		}

		.token[data-track="1"] use
		{
			fill: #0d0;
		}

		.token[data-track="2"] use
		{
			fill: #f0a;
		}

		.token[data-track="3"] use
		{
			fill: #04f;
		}

		.token[data-track="4"] use
		{
			fill: #eb0;
		}

		.token[data-track="5"] use
		{
			fill: #6cc;
		}

		.token[data-track="6"] use
		{
			fill: #c8a;
		}

		.token[data-track="7"] use
		{
			fill: #82f;
		}

		.token[data-track="8"] use
		{
			fill: #bf6;
		}

		.token[data-track="9"] use
		{
			fill: #8df;
		}

		.token[data-track="10"] use
		{
			fill: #f8e;
		}

		.token[data-track="11"] use
		{
			fill: #b6f;
		}

		.token[data-track="12"] use
		{
			fill: #bfa;
		}
	}
}
