
button
{
	&.working
	{
		background-color: #dfd;
		font-weight: bold;
	}

	&.on
	{
		background-color: #efe;
		font-weight: bold;
		box-shadow: 0 0 4px #000;
	}

	&.off
	{
		opacity: 0.7;
		filter: grayscale(100%);
	}

	&[disabled]
	{
		box-shadow: none;
		cursor: not-allowed !important;
	}
}


.controls
{
	fieldset
	{
		display: inline-block;
		border: 0;
		padding: 0 1em;

		& > span
		{
			display: inline-block;
		}

		& > *
		{
			margin: 0 .2em;
			vertical-align: middle;
		}
	}

	& > *
	{
		vertical-align: middle;
	}
}


header.controls
{
	padding: 1em;
	text-align: center;
	background-color: #fffa;

	button
	{
		font-size: 24px;
	}

	.dirty-badge
	{
		width: 1em;

		&.dirty::before
		{
			content: "*";
		}
	}
}
