
.chromatic .sheet.live
{
	.page
	{
		background: white;
		border: 1px black solid;
	}


	.staff-line
	{
		stroke: gainsboro;
	}

	.measure-separator
	{
		fill: hotpink;
	}

	.additional-line
	{
		fill: chocolate;
	}

	.brace, .vertical-line
	{
		fill: whitesmoke;
	}

	.note-stem, .notetail
	{
		fill: slategray;
	}

	.staves-connection
	{
		fill: dodgerblue;
	}

	.clef
	{
		fill: crimson;
	}

	.notehead
	{
		fill: deepskyblue;
	}

	.rest
	{
		fill: steelblue;
	}

	.number
	{
		fill: lightslategray;
	}

	.time-sig, .time-sig.number
	{
		fill: seagreen;
	}

	.dot
	{
		fill: orange;
	}

	.alter
	{
		fill: darkgreen;
	}

	.octave
	{
		fill: violet;
	}

	.slur
	{
		fill: pink;
		stroke: pink;
	}

	.expressive, .arpeggio, .tr-wave
	{
		fill: wheat;
	}

	.mark
	{
		visibility: visible;
	}

	.row > rect.mark
	{
		fill: #ffff0004;
		stroke: #ff0a;
		stroke-width: 0.6;
	}

	.staff > circle.mark
	{
		r: 1;
		fill: #4086;
	}

	.measure > .mark
	{
		text
		{
			font-size: 3px;
			fill: #0f0a;
			text-anchor: start;
		}
	}
}
