
.chromatic .sheet.live
{
	.page
	{
		background: white;
		border: 1px black solid;
	}


	.staff-line
	{
		stroke: lightgray;
	}

	.measure-separator, .additional-line, .brace, .vertical-line
	{
		fill: lightgray;
	}

	.staves-connection
	{
		fill: darkred;
	}

	.clef
	{
		fill: crimson;
	}

	.notehead
	{
		fill: royalblue;
	}

	.rest
	{
		fill: deepskyblue;
	}

	.time-sig
	{
		fill: seagreen;
	}

	.dot
	{
		fill: orange;
	}

	.alter
	{
		fill: purple;
	}

	.octave
	{
		fill: violet;
	}

	.slur
	{
		fill: pink;
	}

	.mark
	{
		visibility: visible;
	}

	.row > rect.mark
	{
		fill: #ffff0004;
		stroke: #ff0;
		stroke-width: 0.2;
	}

	.staff > circle.mark
	{
		r: 1;
		fill: #4086;
	}

	.measure > .mark
	{
		text
		{
			font-size: 3px;
			fill: #0f0a;
			text-anchor: start;
		}
	}
}
