
.chromatic .sheet
{
	.staff-line
	{
		stroke: lightgray;
	}

	.measure-separator, .additional-line, .brace, .staves-connection, .vertical-line
	{
		fill: lightgray;
	}

	.clef
	{
		fill: crimson;
	}

	.notehead
	{
		fill: royalblue;
	}

	.time-sig
	{
		fill: seagreen;
	}

	.dot
	{
		fill: orange;
	}

	.slur
	{
		fill: pink;
	}
}
