
button
{
	&.working
	{
		background-color: #dfd;
		font-weight: bold;
	}

	&.on
	{
		background-color: #efe;
		font-weight: bold;
		box-shadow: 0 0 4px #000;
	}

	&.off
	{
		opacity: 0.7;
		filter: grayscale(100%);
	}

	&[disabled]
	{
		box-shadow: none;
		cursor: not-allowed !important;
	}
}


.controls
{
	fieldset
	{
		display: inline-block;
		border: 0;

		& > span
		{
			display: inline-block;
		}

		& > *
		{
			margin: 0 .2em;
		}
	}
}
