
button
{
	&.working
	{
		background-color: #dfd;
		font-weight: bold;
	}

	&.on
	{
		background-color: #efe;
		font-weight: bold;
		border: 2px solid #555;
	}

	&.off
	{
		opacity: 0.7;
	}
}


.controls
{
	fieldset
	{
		display: inline-block;
		border: 0;

		& > span
		{
			display: inline-block;
		}

		& > *
		{
			margin: 0 .2em;
		}
	}
}
